@import "global/normalize.less";
/*@import "global/outlines.less";*/
@import "blocks/page-header.less";
@import "blocks/main-nav.less";
@import "blocks/download.less";
@import "blocks/advantages.less";
@import "blocks/reviews.less";
@import "blocks/price-table.less";
@import "blocks/page-footer.less";

@bg-darkblue: #1d2631;
@mobile-widths-only: ~"(max-width: 767px)";
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1200px)";

@font-face {
  font-weight: lighter;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/opensansbold.woff2") format("woff2"),
  url("../fonts/opensansbold.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background-color: @bg-darkblue;
}

.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.container {
  width: 280px;
  margin: 0 auto;

  @media @tablet-widths {
    width: 620px;
  }

  @media @desktop-widths {
    width: 940px;
  }
}

body {
    background: @bg-darkblue url("../img/promo-header_bgr-blue-mobile.jpg") no-repeat center top / 720px auto;
  min-height: 2555px;
}

@media @tablet-widths {
  body {
    background: @bg-darkblue url("../img/back-tablet@1x.jpg") no-repeat center top / 1178px auto;
    min-height: 2400px;
  }
}

@media @desktop-widths {
  body {
   background: @bg-darkblue url("../img/BK-G-desk.jpg") no-repeat center top / 1391px auto;
    min-height: 2250px;
  }
}