.advantages__wrapper {
  .container;
  .clearfix;
  
}
.advantages {
  background-color: #f2f2f2;
  color: #283645;
}
.advantages__slogan {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  }
.advantages__image {
  display: block;
 margin: 0 auto;
}

@media @tablet-widths {
  
  .advantages__image {

float: left;
}
  .advantages__items {
        float: right;
    width: 310px;
  }
}