.download__wrapper {
   .container;
    .clearfix;
  }
.download__slogan {
  display: none;
}
.download__image {
 float: left;
  
}
  .download__link{
    display: block;
    margin: 0 auto;
    
  }
@media @tablet-widths {
  

}
