.main-nav {
  position: relative;

  width: 280px;
  min-height: 0px;
  margin: 0 auto;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  display: block;
  width: 70px;
  height: 50px;

  font-size: 0;

  background-color: #283645;
  cursor: pointer;
}

.main-nav__toggle--closed::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;

  width: 36px;
  height: 2px;

  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff,
  0 16px 0 0 #ffffff;
}

.main-nav__items {
  margin: 0;
  padding: 0;

  list-style: none;
}
.main-nav__item a {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;

  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #283645  ;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #485360;
}

  .main-nav__wrapper--opened {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
 
  }
  
@media @tablet-widths {

  .main-nav {
    width: 620px;
    min-height: 0px;
    margin: 0;
  }
  .main-nav__wrapper {
    .container;
    .clearfix;
  }
  .main-nav__items {
    .clearfix;
  }
    .main-nav__wrapper--closed .main-nav__item {
    display: none;
  }
}

@media @desktop-widths {
.main-nav__items {
    width: 790px;
  float: right;
  }

  .main-nav__toggle {
    
  display: none;
  }
.main-nav__item {
  display: inline-block;
  width: 130px;
  float: right;
  margin-left: 0px;
}
    .main-nav__wrapper--closed .main-nav__item {
    display: block;
  }
    .main-nav__wrapper--opened {
    display: block;
}
}
@media @mobile-widths-only {
  .main-nav__wrapper--closed .main-nav__item {
    display: none;
  }
  
}
