.main-nav {
  position: relative;

  width: auto;
  min-height: 64px;
  margin: 0 auto;
  
  background-color: #283645;
}
.main-nav__toggle {
 
  position: absolute;
  top: 0;
  right: 25px;
  z-index: 2;
  
  display: block;
  width: 50px;
  height: 25px;
  font-size: 0;
}

.main-nav__toggle--closed::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;

  width: 36px;
  height: 2px;

  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff,
  0 16px 0 0 #ffffff;
}
.main-nav__items {
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: bold;
}

.main-nav__item a {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;

  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #283645  ;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #485360;
}

@media @tablet-widths {

  .main-nav {
    width: auto;
    min-height: 70px;
    margin: 0;
  }
  
 .main-nav__wrapper {
    .container;
    .clearfix;
  }
  
  .main-nav__items {
    float: left;
    width: 570px;
  }

  .main-nav__user-nav {
    float: right;
    width: 60px;
  }

}


@media @desktop-widths {
.main-nav__items {
    width: 780px;
  float: right;
  }

  .main-nav__toggle {
    
  display: none;
  }
.main-nav__item {
  display: inline-block;
  width: 130px;
  float: right;
  margin-left: 0px;
}
}