.main-nav__toggle {
    
  float: right;;
  }
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__link {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

@media @tablet-widths {

  .main-nav {
    width: auto;
    min-height: 70px;
    margin: 0;
  }
  
 .main-nav__wrapper {
    .container;
    .clearfix;
  }
  
  .main-nav__items {
    float: left;
    width: 570px;
  }

  .main-nav__user-nav {
    float: right;
    width: 60px;
  }

}


@media @desktop-widths {
.main-nav__items {
    width: 780px;
  float: right;
  }

  .main-nav__toggle {
    
  display: none;
  }
.main-nav__item {
  display: inline-block;
  width: 130px;
  float: right;
  margin-left: 0px;
}
}