.promo__wrapper {
    .container-fluid;
    .clearfix;
  }

.promo__title {
 font-size: 24px;
 font-weight: lighter;
  text-align: center;
  
}
.promo__header {
  min-height: 392px;
 background:url(../../img/iphone-hand-mobile.png) no-repeat bottom;

}
.promo-download {
  background-color: #1d2631;
}
.promo-download__link {
 display: block;
  margin-bottom:30px;
  padding:13px 35px;
  max-width:500px;
  text-decoration:none;
  text-align: center;
  font:700 18px/22px OpenSans,Helvetica,Arial,sans-serif;
  color:#fff;
  border:3px solid #fff;
  border-radius:37px;
  margin-bottom: 50px;
}
.promo-download__logos {
  display: inline-block;
  margin-bottom: 20px;

}
.downloads__information {
  display: block;
  font-size: 14px;
  margin-bottom: 20px;
}
@media @tablet-widths {
  

}
